// Using CSS variables instead of SCSS variables
// because it's easier to control and change dynamically
// (Good for websites with light/dark themes)

:root {
	--color-1: #ffffff;
	--color-2: #f0f0f0;
	--color-3: #eaeaea;
	--color-4: #cecece;
	--color-5: #bebebe;
	--color-text: black;

	--transition: 0.3s ease-in-out;

	--border-radius: 8px;
}

[data-style-dark] {
	--color-1: #000000;
	--color-2: #1e1c1c;
	--color-3: #222121;
	--color-4: #2b2a2a;
	--color-5: #343232;
	--color-text: white;
}

[data-style-outline] {
	border: 1px solid var(--color-text)
}